[submodule "vimfiles/bundle/csv"]
	path = vimfiles/bundle/csv
	url = https://github.com/vim-scripts/csv.vim
[submodule "vimfiles/bundle/vim-lua-ftplugin"]
	path = vimfiles/bundle/vim-lua-ftplugin
	url = https://github.com/xolox/vim-lua-ftplugin.git
[submodule "vimfiles/bundle/Command-T"]
	path = vimfiles/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "vimfiles/bundle/ctrlp"]
	path = vimfiles/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vimfiles/bundle/Pydiction"]
    path = vimfiles/bundle/Pydiction
    url = https://github.com/vim-scripts/Pydiction.git
[submodule "vimfiles/bundle/myproject"]
	path = vimfiles/bundle/myproject
	url = https://github.com/jiazhoulvke/myproject.git
[submodule "vimfiles/bundle/neocomplcache"]
	path = vimfiles/bundle/neocomplcache
	url = https://github.com/Shougo/neocomplcache.git
[submodule "vimfiles/bundle/fuzzyfinder"]
	path = vimfiles/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "vimfiles/bundle/jianfan"]
	path = vimfiles/bundle/jianfan
	url = https://github.com/jiazhoulvke/jianfan.git
[submodule "vimfiles/bundle/googletranslate"]
	path = vimfiles/bundle/googletranslate
	url = https://github.com/jiazhoulvke/googletranslate.git
[submodule "vimfiles/bundle/imagemap"]
	path = vimfiles/bundle/imagemap
	url = https://github.com/jiazhoulvke/imagemap.git
[submodule "vimfiles/bundle/vimwiki"]
	path = vimfiles/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/tagbar"]
	path = vimfiles/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vimfiles/bundle/gundo"]
	path = vimfiles/bundle/gundo
	url = https://github.com/vim-scripts/Gundo.git
[submodule "vimfiles/bundle/visualmark"]
	path = vimfiles/bundle/visualmark
	url = https://github.com/vim-scripts/Visual-Mark.git
[submodule "vimfiles/bundle/indent-guides"]
	path = vimfiles/bundle/indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vimfiles/bundle/easymotion"]
	path = vimfiles/bundle/easymotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "vimfiles/bundle/ultisnips"]
	path = vimfiles/bundle/ultisnips
	url = https://github.com/guns/ultisnips.git
[submodule "vimfiles/bundle/vimrepress"]
	path = vimfiles/bundle/vimrepress
	url = https://github.com/vim-scripts/VimRepress.git
[submodule "vimfiles/bundle/rainbow_parentheses"]
	path = vimfiles/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vimfiles/bundle/utl"]
	path = vimfiles/bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "vimfiles/bundle/genutils"]
	path = vimfiles/bundle/genutils
	url = git://github.com/vim-scripts/genutils.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/phpcomplete"]
	path = vimfiles/bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "vimfiles/bundle/surround"]
	path = vimfiles/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/visincr"]
	path = vimfiles/bundle/visincr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "vimfiles/bundle/zencoding"]
	path = vimfiles/bundle/zencoding
	url = https://github.com/mattn/zencoding-vim.git
[submodule "vimfiles/bundle/lib_l9"]
	path = vimfiles/bundle/lib_l9
	url = https://github.com/vim-scripts/L9.git
[submodule "vimfiles/bundle/jquerysyntax"]
	path = vimfiles/bundle/jquerysyntax
	url = https://github.com/vim-scripts/jQuery.git
[submodule "vimfiles/bundle/mark"]
	path = vimfiles/bundle/mark
	url = https://github.com/vim-scripts/Mark.git
[submodule "vimfiles/bundle/markdown"]
	path = vimfiles/bundle/markdown
	url = https://github.com/tpope/vim-markdown.git
